{% extends "base.html" %}

{% block content %}

<h2>Lista de correo</h2>
Suscribite a la general de correo de Lanux. Evacua tus dudas, y ayuda a otros que lo necesiten tambien. 
<br>
Ingresa a este <a href="http://listas.lanux.org.ar/mailman/listinfo/general">link</a> para suscribirte
<br>
Aquí mismo podés ver un histórico de la lista:
<br>
<br>
<table id="list-archive">
<thead>
<tr>
<th>
Mes
</th>
<th colspan="4">
Ver por...
</th>
<th>
Descargar
</th>
</tr>
</thead>
<tbody>
{% for year,mes,mes_abrev in meses %}{{ value }}
    <tr>
    <td>
       <b>{{ mes}} {{ year }}</b>
    </td>
    <td>
    <a href="http://listas.lanux.usla.org.ar/pipermail/general/{{ year }}-{{ mes }}/thread.html">[Thread]</a>
    </td>
    <td>
    <a href="http://listas.lanux.usla.org.ar/pipermail/general/{{ year }}-{{ mes }}/subject.html">[Subject]</a>
    </td>
    <td>
    <a href="http://listas.lanux.usla.org.ar/pipermail/general/{{ year }}-{{ mes }}/author.html">[Author]</a>
    </td>
    <td>
    <a href="http://listas.lanux.usla.org.ar/pipermail/general/{{ year }}-{{ mes }}/date.html">[Date]</a>
    </td>
    <td>
    <a href="http://listas.lanux.usla.org.ar/pipermail/general/{{ year }}-{{ mes }}.txt.gz">Descargar</a>
    </td>

    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
